<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<appSettings>
		<add key="FileDirectory" value="\\internal.finisterre.com\FCAP\Home$\md.irfan\Documents\log-test"></add>
		<add key="ArchiveDirectory" value="\\internal.finisterre.com\FCAP\Home$\md.irfan\Documents\log-test-archive"></add>
		<add key="DeleteLookBack" value="20W"></add>
		<add key="ArchiveLookBack" value="20D"></add>
	</appSettings>      
</configuration>
