<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="FileDirectory" value="\\internal.finisterre.com\FCAP\Home$\Mohammed.Samad\Documents\TestLogs"></add>
		<add key="ArchiveDirectory" value="\\internal.finisterre.com\FCAP\Home$\mohammed.samad\Documents\TestLogs\Archive"></add>
		<add key="DeleteLookBack" value=""></add>
		<add key="ArchiveLookBack" value="3D"></add>
	</appSettings>
</configuration>